.form-wrap {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    border-radius: 0.8rem; // in order for shadow to work
    box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.05);
}

.form {
    display: flex;
}

.input {
    width: 100%;
    flex-grow: 1;
    border-top-left-radius: 0.8rem;
    border-bottom-left-radius: 0.8rem;
}

.add {
    padding: 20px;
    font-size: 0.9rem;
    border-top-right-radius: 0.8rem;
    border-bottom-right-radius: 0.8rem;
    background-image: $red-gradient;
    flex-grow: 1;
}

.add:hover, .add:focus {
    background-image: $red-gradient-darken;
}

.add:focus {
    outline: none;
}