.generate-button {
    padding: 20px;
    width: 100%;
    font-size: 0.9rem;
    border-radius: 0.8rem;
    background-image: $green-gradient;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.generate-button:hover, .generate-button:active {
    background-image: $green-gradient-darken;
}