.generate-button {
    padding: 20px;
    width: 100%;
    font-size: 1rem;
    border-radius: 1rem;
    background-image: $green-gradient;
    margin: 0.5rem 0rem;
}

.generate-button:hover, .generate-button:active {
    background-image: $green-gradient-darken;
}