.person {
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
}

.person__number {
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    padding: 0.2rem;
    background: $black;
    line-height: 1rem;
    text-align: center;
    color: $white;
    font-size: 0.8rem;
    margin-right: 0.7rem;
}

.person__remove {
    color: $red;
    background: none;
    flex-grow: 1;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

.person__remove:hover {
    color: darken($red, 10%);
}

.person__name {
    flex-grow: 10;
    word-break: break-all;
}

.person__link {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}