@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Regular.ttf');
}

@font-face {
    font-family: 'Lato-Bold';
    src: url('../fonts/Lato-Bold.ttf');
}

body {
    font-family: 'Lato', 'Times New Roman', sans-serif;
    font-size: 62.5%;
    background-color: $offwhite;
    color: $black;
    margin: 0;
}

.body-wrap {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.wrap {
    flex: 1;
}

h1, h2, h3, h4, h5, h6, p, a {
    opacity: 0.9;
    margin: 0.5rem 0rem;
}

a {
    color: $blue;
}

h1, h2, h3, h5, h5, h6 {
    font-family: 'Lato-Bold';
}

.subtitle {
    opacity: 0.8;
}

h1 {
    font-size: 2.0rem;
}

h2 {
    font-size: 1.8rem;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.4rem;
}

h5 {
    font-size: 1.2rem;
}

h6 {
    font-size: 1rem;
}

p {
    font-size: 1rem;
}

button {
    cursor: pointer;
    font-family: inherit;
    text-decoration: none;
    color: $white;
    border: none;
    text-transform: uppercase;
}

button:focus {
    outline: none;
}

input {
    border: none;
    font-family: inherit;
    font-size: 1rem;
    padding: 1rem 2rem;
}

input:focus {
    outline: none;
}

.container {
    max-width: 24rem;
    margin: 0 auto;
    padding-bottom: 2rem;
}