$white: #fefefe;
$offwhite: #f0f3f7;
$black: #111111;
$grey: #efefef;

$green-gradient: linear-gradient(45deg,#5ed161, #17a921);
$green-gradient-darken: linear-gradient(45deg, darken(#5ed161, 5%), darken(#17a921, 5%));