$white: #fefefe;
$offwhite: #f1f1fb;
$black: #111111;

$purple-gradient: linear-gradient(-225deg, #8c19de 0%, #7918F2 48%, #570ddb 100%);
$purple-darken: linear-gradient(-225deg, darken(#8c19de, 5%) 0%, darken(#7918F2, 5%) 48%, darken(#570ddb, 5%) 100%);