@import '../scss/base/variables';
@import '../scss/base/base';
@import '../scss/components/generate';
@import '../scss/components/header';
@import '../scss/components/form';
@import '../scss/components/people';
@import '../scss/components/person';